<h1>Line Chart</h1>

<div class="container" width="300" height="300">
    <canvas 
        id="bar" 
        class="chart chart-bar" 
        chart-data="vm.data" 
        chart-labels="vm.labels">
    </canvas> 
</div>

<div class="container" width="300" height="300">
    <canvas 
        id="doughnut" 
        class="chart chart-doughnut" 
        chart-data="vm.data[0]" 
        chart-labels="vm.labels">
    </canvas> 
</div>

<div class="container" width="300" height="300">
    <canvas 
        id="line" 
        class="chart chart-line" 
        chart-data="vm.data[0]" 
        chart-labels="vm.labels">
    </canvas> 
</div>