<div class="panel panel-info">
    <div class="panel-heading">Panel heading without title</div>
    <div class="panel-body">
        <h4>
            <ul>
                <li>Most of architectural approaches I took from my current project. </li>
                <li>I have experiance only with ES6 approach and how to work with them.</li>
                <li>I'm not familiar with bottlenecks that can appear with functional approach.</li>
                <li>I'm not satisfied with code for 100% but at the same time it's not legacy.</li>
            </ul>
        </h4>
    </div>
</div>

<hr/>
<h1>Tabs</h1>
<uib-tabset active="active">
    <uib-tab index="0" heading="First">Static </uib-tab>
    <uib-tab index="1" heading="Second">Static coal</uib-tab>
    <uib-tab index="2" heading="Third">Static tab</uib-tab>
</uib-tabset>

<hr/>
<h1>Slider</h1>
<p>Price: {{vm.priceSlider.value}}</p>
<button ng-click="vm.toggle()">{{ vm.visible ? 'Hide' : 'Show' }}</button>
<div ng-show="vm.visible">
    <rzslider rz-slider-model="vm.priceSlider.value" rz-slider-options="vm.priceSlider.options" ></rzslider>
</div>

<hr/>
<h1>YouTube video</h1>
<youtube-video 
    video-id="vm.theBestVideo" 
    player-vars="vm.playerVars" 
    player-width="'100%'" 
    player-height="'500px'">
</youtube-video>