<main class="container">
	<table ng-table="vm.tableParams" class="table" show-filter="false">
		<tr ng-repeat="item in $data" ng-click="vm.showClient(item)">
			<td title="'#'">{{ $index + 1 }}</td>
			<td title="'Title'" sortable="'title'">{{item.properties.title}}</td> 
			<td title="'Publication Date'">{{item.properties.layers['parking.garage'].data.PubDate | date}}</td> 
			<td title="'FreeSpaceShort'">{{item.properties.layers['parking.garage'].data.FreeSpaceShort}}</td> 
			<td title="'FreeSpaceLong'">{{item.properties.layers['parking.garage'].data.FreeSpaceLong}}</td> 
			<td title="'ShortCapacity'">{{item.properties.layers['parking.garage'].data.ShortCapacity}}</td> 
			<td title="'LongCapacity'">{{item.properties.layers['parking.garage'].data.LongCapacity}}</td> 
			<td title="'Status'">
				<span class="glyphicon glyphicon glyphicon-ok-sign pull-left" ng-class="item.available ? 'green' : 'red'"></span>
				<span ng-if="item.available" class="glyphicon glyphicon-arrow-right pull-right"></span>
			</td> 
		</tr>
	</table>
</main>