body {
    padding-top: 70px;
}
#footer {
	background-color: #f5f5f5;
    text-align: center;
    line-height: 60px;
}

.btn-primary{
    right: 15px;
    top: 23px;
}

.green{
    color: green;
}
.red{
    color: red;
}